In [1]:
import math
import numpy as np
import pandas as pd
import scipy
import seaborn as sn
import matplotlib
import matplotlib.pyplot as plt
from sklearn import preprocessing

import scipy.stats
from scipy import stats, optimize
from scipy.stats import genextreme

from sklearn import svm
from sklearn.preprocessing import MinMaxScaler

sn.set(rc={'figure.figsize':(11, 4)})
%matplotlib notebook

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data

        Unnamed: 0  Unnamed: 0.1  Dp    Hs     Tp    Ta  Temp  lag  season
0                0             0  68  1.01  11.11  5.75  13.5   73       2
1                1             1  73  0.99   9.88  6.01  13.2   68       2
2                2             2  68  0.97   9.88  5.71  13.2   73       2
3                3             3  69  0.92  10.53  5.52  13.2   68       2
4                4             4  62  0.92  11.11  5.34  13.1   69       2
...            ...           ...  ..   ...    ...   ...   ...  ...     ...
120628      120628        120628  20  1.66   5.26  4.62  17.5   20       4
120629      120629        120629  38  1.75   5.56  4.83  17.5   20       4
120630      120630        120630  40  1.85   5.56  4.90  17.5   38       4
120631      120631        120631  14  1.98   5.56  4.92  17.5   40       4
120632      120632        120632  26  2.08   5.56  5.11  17.6   14       4

[120633 rows x 9 columns]

In [4]:
data.drop(data.columns[[0,1]], axis=1, inplace=True)

In [5]:
data

        Dp    Hs     Tp    Ta  Temp  lag  season
0       68  1.01  11.11  5.75  13.5   73       2
1       73  0.99   9.88  6.01  13.2   68       2
2       68  0.97   9.88  5.71  13.2   73       2
3       69  0.92  10.53  5.52  13.2   68       2
4       62  0.92  11.11  5.34  13.1   69       2
...     ..   ...    ...   ...   ...  ...     ...
120628  20  1.66   5.26  4.62  17.5   20       4
120629  38  1.75   5.56  4.83  17.5   20       4
120630  40  1.85   5.56  4.90  17.5   38       4
120631  14  1.98   5.56  4.92  17.5   40       4
120632  26  2.08   5.56  5.11  17.6   14       4

[120633 rows x 7 columns]

In [6]:
data.to_csv("dataN.csv")