In [147]:
import math
import numpy as np
import pandas as pd
import scipy
import seaborn as sn
sn.set(rc={'figure.figsize':(11, 4)})

from scipy import stats, optimize
from scipy.stats import genextreme
import matplotlib
import matplotlib.pyplot as plt
import scipy.stats
from sklearn import svm
from sklearn.preprocessing import MinMaxScaler
%matplotlib notebook

In [148]:
data1 = pd.read_csv('cs1_G95.csv')

In [149]:
from datetime import date

In [150]:
data1 = data1.assign(Date=pd.to_datetime(data1[['year', 'month','day']]))

In [151]:
data1

,Unnamed: 0,runoff_obs,basin_cfs_pred,Id,year,month,day,precip,tmax,tmin,Date
0,241,20.0,18.201541,242,2003,5,30,0.00,88.6,62.8,2003-05-30
1,242,24.0,17.545305,243,2003,5,31,0.00,86.5,54.5,2003-05-31
2,243,24.0,16.555078,244,2003,6,1,0.00,82.9,61.0,2003-06-01
3,244,23.0,16.125084,245,2003,6,2,0.00,78.2,51.9,2003-06-02
4,245,23.0,15.996294,246,2003,6,3,0.00,83.9,48.3,2003-06-03
...,...,...,...,...,...,...,...,...,...,...,...
183,3223,25.0,22.454396,3224,2011,7,29,0.00,82.4,55.2,2011-07-29
184,3224,24.0,23.239589,3225,2011,7,30,0.07,85.0,59.1,2011-07-30
185,3225,24.0,26.044618,3226,2011,7,31,0.14,79.3,59.7,2011-07-31
186,3226,22.0,22.401541,3227,2011,8,1,0.11,73.7,56.0,2011-08-01
187,3227,22.0,26.503334,3228,2011,8,2,0.20,77.5,53.0,2011-08-02

In [152]:
data1.drop(data1.columns[[0,2,3,4,5,6]], axis=1, inplace=True)

In [153]:
data1 = data1.set_index('Date')

In [154]:
data1

            runoff_obs  precip  tmax  tmin
Date
2003-05-30        20.0    0.00  88.6  62.8
2003-05-31        24.0    0.00  86.5  54.5
2003-06-01        24.0    0.00  82.9  61.0
2003-06-02        23.0    0.00  78.2  51.9
2003-06-03        23.0    0.00  83.9  48.3
...                ...     ...   ...   ...
2011-07-29        25.0    0.00  82.4  55.2
2011-07-30        24.0    0.07  85.0  59.1
2011-07-31        24.0    0.14  79.3  59.7
2011-08-01        22.0    0.11  73.7  56.0
2011-08-02        22.0    0.20  77.5  53.0

[188 rows x 4 columns]

In [155]:
data1_values = data1.values
features1 = data1_values[:,1:]
values1 = data1_values[:,0]

In [156]:
from sklearn.model_selection import train_test_split

In [157]:
x_train, x_test, y_train, y_test = train_test_split(features1, values1,test_size=0.3)

In [158]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=100,
       subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
       min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, min_impurity_split=None,
       init=None, random_state=None, max_features=None, alpha=0.9, verbose=0, max_leaf_nodes=None, 
       warm_start=False, presort='auto', validation_fraction=0.1, tol=0.0001)

In [159]:
clf.fit(x_train, y_train, sample_weight=None)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [160]:
clf.score(x_train, y_train, sample_weight=None)

0.8227740592980007